body {
    font-family: 'Gayathri', sans-serif;
    margin: 0;
    background-color: lightblue;
}

#addressee {
    font-family: 'Pacifico', cursive;
    color: #0073a5;
}

section {
    margin: auto;
    text-align: center;
    width: 95%;
    max-width: 700px;
    padding: 3vh 0;
    border-bottom: 1px solid black;
}

#intro {
    border-top: 1px solid black;
    margin-top: 5vh;
}

p {
    font-size: 1.25em;
}

button {
    font-size: 2vh;
    background-color: #0073a5;
    color: white;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#outcome {
    display: none;
}

#order {
    display: none;
}

ol {
    font-size: 1.25em;
}